<div class="documentEditable">
<div>
  <div id="viewlet-above-content-title"></div>
  <h1 class="documentFirstHeading">{{ 'STATS.TITLE' | translate }}</h1>

    <ul class="nav nav-tabs">
      <li ui-sref-active-eq="active">
        <a ui-sref="stats.activity">{{ 'STATS.ACTIVITY' | translate }}</a>
      </li>
      <li ui-sref-active-eq="active">
        <a ui-sref="stats.chats" ui-sref-opts="{reload: true}">{{ 'STATS.CHATS' | translate }}</a>
      </li>
      <li ui-sref-active-eq="active">
        <a ui-sref="stats.pageviews" ui-sref-opts="{reload: true}">{{ 'STATS.PAGEVIEWS' | translate }}</a>
      </li>
    </ul>

    <div ui-view></div>

<br/>
  <div ng-controller="ResultsController as resultsctrl">

  <div id="stats-results"

       ng-show="resultsctrl.show">

     <div id="viewlet-above-content-title"></div>
     <h3 class="documentFirstHeading">{{ 'STATS.RESULTSTITLE' | translate }}</h3>
     <table class="table table-striped">
       <thead>
         <tr>
           <th></th>
           <th ng-repeat="header in resultsctrl.column_headers">{{ header }}</th>
         </tr>
       </thead>

       <tbody>
       <tr ng-repeat="row in resultsctrl.results">
          <td ng-repeat="item in row track by $index">
            <a ng-show="item.link" href="{{ item.link }}">{{ item.value }}</a>
            <span ng-show="!item.link">{{ item.value }}</span>
            <a href="" class="fa fa-question-circle" target="_blank"
              ng-show="item.show_drilldown"
              ng-click="resultsctrl.show_modal(item)"></a>
          </td>
       </tr>
       </tbody>
     </table>

  </div>
  </div>

</div>
</div>
