<div id="communitysearch" data-ng-cloak>

    <h2>{{'SEARCHUSERS.THINNKERS' | translate}}</h2>

    <div id="searchinputusers">
      <div class="input-append">
        <input data-ng-model="ctrl.query" data-ng-keyup="ctrl.searchby()"
               class="form-control searchInput" type="text" placeholder="{{'SEARCHUSERS.SEARCH' | translate}}" />
        <span class="add-on"><i class="fa fa-search"></i></span>
      </div>
    </div>

    <div id="subscribealert" class="alert alert-info" role="alert">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <p>
      <tal:msg>{{'SEARCHUSERS.USE_THE_SEARCH_INPUT_TO_FIND_MORE_PEOPLE1' | translate}}</tal:msg>
      <span data-ng-if="ctrl.users.big === true">
          <tal:msg>{{'SEARCHUSERS.USE_THE_SEARCH_INPUT_TO_FIND_MORE_PEOPLE2' | translate}} </tal:msg>
          <span>{{ctrl.users.length}}</span>
          <tal:msg>{{'SEARCHUSERS.PEOPLE' | translate}} </tal:msg>
      </span>
      </p>
    </div>

    <div class="text-center">
      <div class="spinner-border" style="display: none;">
        <img src="{{ctrl.plonePortalURL}}/++theme++ulearn5/assets/images/spinner.gif" alt="Loading..."/>
      </div>
    </div>

    <div class="pagination">
      <dir-pagination-controls boundary-links="true" tal:attributes="template-url {{ctrl.plonePortalURL}}/++components++ulearn/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

    <section id="userlist">

      <div data-ng-if="ctrl.users.big === true">
        <div data-dir-paginate="user in ctrl.users.content | itemsPerPage: ctrl.pageSize" data-current-page="ctrl.currentPage" data-ng-cloak>
          <div class="directori_usuari_foto">
            <a data-ng-href="{{user.url}}" data-ng-bind-html="user.foto"></a>
          </div>
        </div>
      </div>

      <div data-ng-if="ctrl.users.big === false">
        <ul class="sortablelist" data-ng-if="ctrl.users.length > 0">
          <span data-dir-paginate="user in ctrl.users.content | itemsPerPage: ctrl.pageSize" data-current-page="ctrl.currentPage" data-ng-cloak>
            <li class="mix">
              <div class="row">
                <div class="col-md-3">
                  <a class="photo" data-ng-href="{{user.url}}" data-ng-bind-html="user.foto"></a>
                </div>
                <div class="col-md-9">
                  <a data-ng-href="{{user.url}}">
                    <h3><span>{{user.fullname}}</span> <span class="usuari_petit">{{user.id}}</span></h3>
                  </a>
                  <span data-ng-repeat="field in ctrl.properties">
                    <p class="queryable" data-ng-show="user[field['name']]">
                        <a target="_blank" data-ng-if="(field['name'].includes('email'))"
                           data-ng-href="mailto:{{user[field['name']]}}">
                          <i class="queryable {{field['icon']}}"></i>
                        </a>
                      <span data-ng-if="(!field['name'].includes('email'))">
                         <i class="queryable {{field['icon']}}" data-ng-click="ctrl.searchby(user[field['name']])"></i>
                      </span>
                      <span data-ng-if="(field['name'] == 'collectiveFaculty')">
                        {{ getFacultyLabel(user[field['name']]) }}
                      </span>
                      <span data-ng-if="(field['name'] != 'collectiveFaculty')">
                        {{ user[field['name']] }}
                      </span>
                    </p>
                  </span>
                </div>
              </div>
            </li>
          </span>
        </ul>
      </div>

     <div class="clearfix" data-ng-if="ctrl.users.big === true"></div>

    </section>
    <div class="pagination">
      <dir-pagination-controls boundary-links="true" tal:attributes="template-url {{ctrl.plonePortalURL}}/++components++ulearn/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>
